<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragment/header :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <h1>스프링 부트로 시작하는 웹 서비스 Ver.5</h1>
  <div class="col-md-12">
      <div class="row">
          <div class="col-md-6">
              <a href="posts/save" role="button" class="btn btn-primary">글 등록</a>
              <div th:if="${userName} != null">
                  Logged in as : <span id="user" th:text="${userName}"></span>
                  Principal : <span id ="principal" sec:authentication="principal.authorities"></span>
                  <a href="logout" class="btn btn-info active" role="button" th:text="Logout"></a>
              </div>
              <div th:if="${userName}==null">
                  <a th:href="@{/oauth2/authorization/google}" class="btn btn-success active" role="button" th:text="|Google Login|"></a>
                  <a th:href="@{/oauth2/authorization/naver}" class="btn btn-secondary active" role="button" th:text="|Naver Login|"></a>
              </div>
          </div>
      </div>
  <br>
<!--  목록 출력 영역  -->
  <table class="table table-horizontal table-bordered">
      <thead class="thead-strong">
      <tr>
          <th>게시글번호1</th>
          <th>제목</th>
          <th>작성자</th>
          <th>최종수정일</th>
      </tr>
      </thead>
      <tbody id="tbody">
      <tr th:each="posts : ${posts}">
          <td th:text="${posts.id}"></td>
          <td><a th:href="@{'posts/update/'+${posts.id}}" th:text="${posts.title}"></a></td>
          <td th:text="${posts.author}"></td>
          <td th:text="${posts.modifiedDate}"></td>
      </tr>
      </tbody>
  </table>
  </div>
<th:block th:replace="fragment/footer :: footer">

</th:block>
</body>
</html>